*.exe
*.bin
*.cbp
*.check_cache
*.cmake
*.ilk
*.iml
*.obj
*.pdb
*.rc
*.res
*.rsp
*.includecache
*.internal
*.log
*.make
Makefile
CMakeCache.txt
CMakeFiles
/Using the preprocessor/cmake-build-debug/Makefile
/Using the preprocessor/cmake-build-debug/CMakeCache.txt
